.drawer-title {
  color: #545454;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p-20 {
  padding: 20px;
}

.m-20 {
  margin: 20px;
}

.mt-20 {
  margin-top: 20px;
}
.mtb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
